<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.men_cloths">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainContent.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mainContent.SearchActivity"></activity>

        <activity android:name=".mainContent.Seting"/>
        <activity android:name=".mainContent.Account" android:launchMode="singleTask"/>
        <activity android:name=".mainContent.Interchangeable" android:launchMode="singleTask"/>
        <activity android:name=".mainContent.MessAge" android:launchMode="singleTask"/>
        <activity android:name=".mainContent.PersonInfo" android:launchMode="singleTask"/>
        <activity android:name=".mainContent.BindSucessfuly" android:launchMode="singleTask"/>
        <activity android:name=".mainContent.Collection" />
        <activity android:name=".mainContent.Brand"/>
        <activity android:name=".mainContent.BindtoTel" android:launchMode="singleTask"/>
        <activity android:name=".mainContent.Coupon"/>
        <activity android:name=".mainContent.Passwd" android:launchMode="singleTask"/>
        <activity android:name=".mainContent.SoftPassword" android:launchMode="singleTask"/>
        <activity android:name=".mainContent.SoftPassWorldForChange" android:launchMode="singleTask"/>

        <activity android:name="com.men_cloths.mainContent.TrendActivity"/>

        <activity android:name=".mainContent.ShopInfo"></activity>

        <activity android:name=".mainContent.Test"></activity>
        <activity android:name=".mainContent.MyMainpageInActivity"/>

        <activity android:name=".mainContent.ActivityViewPager"/>
        <activity android:name=".mainContent.Page1"/>
        <activity android:name=".mainContent.Page2"/>
        <activity android:name=".mainContent.Page3"/>
        <!--<activity android:name=".Page4"/>-->
        <activity android:name=".mainContent.ActivityLogin"/>
        <activity android:name=".mainContent.ActivityLoginSuccess"/>
        <activity android:name=".mainContent.ActivityRegister"/>
        <activity android:name=".mainContent.DingDanActivity"/>
        <activity android:name=".mainContent.MyAddressActivity"/>
        <activity android:name=".mainContent.AddNewAddressActivity"/>
        <activity android:name=".mainContent.MyHelperActivity"/>
        <activity android:name=".mainContent.FootprintActivity"/>

    </application>

</manifest>